
<%#----↓DAY８処理%>

<div class="container">
  <%= render 'tabs' %> <%# 部分テンプレートを読み込んで表示する処理。「_tabs.html.erb」を読み込んでいる%>

  <% @articles.each do |article| %> <%# rubyのメソッドを埋め込むが、表示不要なので%=にしない。＝を入れると表示されてしまう%>
    <%= render 'article', article: article %> <%# 部分テンプレートを表示。
    「（部分テンプレートに記載されている）article（は）: （eachで取得した）article（だよ）」
    と部分テンプレート側に伝えて値を渡している。これが無いと部分テンプレートがarticleの値を取得できないためエラーになる%>
  <% end %>
  <%= link_to new_article_path do %>
    <div class="float_btn">
      <i class="fa fa-plus"></i> <%#アイコンを表示するタグ。class名はフォントオーサムのサイトで好きなものを選べる%>
    </div>
  <% end %>
</div>
