<h1>HOME</h1> <%# コメントアウトコピペ用 %>
<h2><%= @article.title %></h2> <%#homecontroller内のメソッドで定義されたインスタンス変数%>
<h2><%= @article.content %></h2> <%#データベースのtitleとcontentの行からデータを取り出してHTMLとして表示する%>

<%= link_to 'About', about_path %>
<%# link_toはaタグを生成、about_pathはURLを生成するメソッド。rubyのメソッドを実行するための囲いで挟む%>